.hide {
	display: none;
}
.cp-inside {
	padding: 10px 0;
}


.cp-inside h2, .cp-inside h3, #cp-add-container h2, #cp-add-container h3 {
	font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue", sans-serif;
	font-weight: 300;
}

#cp-add-container {
	padding-bottom: 30px;
	max-width: 700px;
	/* This is show and hidden by JavaScript */
	display: none;
}

#cp-add-container > div.errors, #cp-add-container > div.updated {
	margin: 10px 0 !important;
}

.cp-inside input[type="text"], .cp-inside textarea {
	margin: 0;
	background: #fff;
}

.cp-inside .cp-select {
	min-width: 200px;
}

.cp-inside input.date {
	width: 200px;
}


.cp-form .float-left {
	margin: 0 10px 0 0;
	font-weight: bold;
	display: block;
	float: left;
}

.cp-form .cp-clear {
	line-height: 1;
	padding: 5px;
	font-size: 120%;
	width: 400px;
}

.cp-form input[type='url'] {
	background: #fff;
	border: 1px solid #DFDFDF;
	width: 388px;
	margin: 0;
	padding: 5px;
	font-size: 120%;
	-webkit-border-radius: 4px;
		 -moz-border-radius: 4px;
					border-radius: 4px;
}

.cp-form label {
	display: block;
	padding-bottom: 5px;
}

.cp-form label#inline-label {
	display: inline;
}

.cp-form label#prog-desc {
	display: block;
	margin: 20px 0 -80px;
}

.cp-form p {
	padding: 10px 0;
}

.cp-form .venue-hide p, .cp-form .prog-hide p {
	padding: 5px;
}

.cp-form p#less-pad {
	padding: 0 0 10px;
}

.cp-form span#or {
	padding: 0 5px;
}

#cp-errors {
	margin: 10px 0;
}


.cp-inside #progMessage {
	margin-top: 20px;
}

.ui-widget {
	font-size: 12px !important;
}

.cp-inside input[type='submit'] {
	width: auto;
}

.cp-inside .cp_space {
	padding: 20px 10px 10px;
}

.cp-inside span.or {
	padding: 5px;
	font-size: 110%;
}

.cp-inside #ajax-loader {
	padding-left: 10px;
	border: none;
}


.cp-inside .ui-datepicker-div {
	font-size: 60%;
	font-size: 12px;
}

.cp-inside .ui-datepicker-trigger {
	border: none;
	background: none;
	cursor: pointer;
}


#cp_info {
	padding: 10px;
	margin: 20px 0;
	width: 60%;
	max-width: 600px;
}

#cp_info > p {
	/* line-height: 1.5; */
}

#spacer {
	display: block;
	height: 50px;
}



.cp_main {
	margin-top: 10px;
	padding-bottom: 15px;
}

.rps-errors {
	border: 1px solid #333;
	margin: 10px;
	padding: 2px 10px;
	border-radius: 2px;
}

ul#cp-errors-list {
	list-style: disc;
	padding: 0 20px;
}

.add-event-section {
	padding: 20px;
	border-bottom: 1px solid #ddd;
}

#about-cp {
	max-width: 700px;
	line-height: 1.5;
}

#about-cp p, #about-cp ul, #about-cp dl {
	font-size: 13px;
}

#about-cp h3 {
	max-width: 500px;
	font-size: 1.3em;
	text-shadow: 1px 1px 1px #fff;
	font: 300 20px/1.4 "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", sans-serif;
}

#about-cp hr {
	border: 1px;
	border-top: 1px solid rgba( 0, 0, 0, 0.09 );
	border-bottom: 1px solid rgba( 255, 255, 255, 0.3 );
	clear: both;
	display: block;
	height: 0;
	margin: 20px 0;
}

#map-canvas {
	margin: 30px 5px 15px;
	width: 100%;
	max-width: 644px;
	height: 350px;
	border: 2px solid #fff;
	-webkit-box-shadow: 0 0 5px rgba( 100, 100, 100, 0.7 );
		 -moz-box-shadow: 0 0 5px rgba( 100, 100, 100, 0.7 );
	 				box-shadow: 0 0 5px rgba( 100, 100, 100, 0.7 );
}

.vevent img {
	background: none !important;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
	max-width: auto !important;
}

.add-event-section h3 {
	font-size: 1.5em;
	text-shadow: 1px 1px 1px #fff;
}

/* TinyMCE editor background color + hacks */
#programme-details_ifr {
	background: #fff;
}

.mceEditor td.mceIframeContainer iframe {
  min-height: 100px !important;
}
.mceEditor table {
  height: auto !important;
}


.cp-inside p#add-p {
	margin: 30px 0;
}

#cp-table-container table tr:nth-of-type( 2n + 2 ) {
	background: #fdfefd;
}



/*************************************** PUBLIC FACING **************************************/


.concertpress-container .vevent {
	padding-bottom: 20px;
}

.concertpress-container span {
	display: block;
}

.concertpress-container .time {
	font-weight: bold;
	font-size: 110%;
}

.concertpress-container .address {
	margin-bottom: 1.625em;
}



